:root {
  --color0: #171916;
  --color1: #5C5C4D;
  --color2: #888777;
  --color3: #B4B3A2;
  --color4: #DAD9C7;
  --color5: #EEECD1;
  --color6: #F9F6D8;
  --color7: #FBFAE5;
  --color8: #666666;
  --color9: #5C5C4D;
  --color10: #888777;
  --color11: #B4B3A2;
  --color12: #DAD9C7;
  --color13: #EEECD1;
  --color14: #F9F6D8;
  --color15: #FBFAE5;
}
