[General]
Show_Colored_Bars=false
val_fontsize=0
Lines_Size=2
Update_Interval=15
Preferred_Height=464
Number_Chips=5
str_fontsize=x-small

[Chip0]
Name=coretemp-0
Number=0

[Chip0_Feature0]
Address=0
Name=Package id 0
Color=#6dff00
Show=true
Min=0
Max=66

[Chip0_Feature1]
Address=1
Name=Core 0
Color=#6dff00
Show=true
Min=0
Max=57

[Chip1]
Name=BAT0-0
Number=1

[Chip2]
Name=hp-0
Number=2

[Chip2_Feature0]
Address=0
Name=fan1
Color=#eaff00
Show=true
Min=1000
Max=3500

[Chip3]
Name=acpitz-0
Number=3

[Chip4]
Name=ACPI
Number=4

[Chip4_Feature0]
Address=0
Name=BAT0 - Primary
Color=#00deff
Show=true
Min=4072
Max=40635

[Chip4_Feature3]
Address=3
Name=thermal_zone7
Color=#00deff
Show=true
Min=20
Max=60

[Chip4_Feature10]
Address=10
Name=BAT - Power
Color=#00deff
Show=true
Min=0
Max=60

